/* FUENTES */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

/*VARIABLES*/
:root {
    --CtextoPrincipal: #FFFFFF; 
    --CtextoSecundario: #D3D3D3; /* tmb descripciones */
    --FtextoPrincipal: 'Roboto'; 
    --FtextoEncabezado: 'Orbitron';
    --CfondoPrincipal: #000000;
    --Cacento1: #1E90FF; /* botones y elementos interactivos */
    --Cacento2: #39FF14;
    --fondo-p: url('../assets/fotos/fondo.png');
}

/*GENERAL*/
body {
    font-family: var(--FtextoPrincipal) ,sans-serif;
    background-image: var(--fondo-p);
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    color: var(--CtextoPrincipal);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: auto;
}

html {
    height: 100%;
}

p,li, a{
    font-size: 1.1rem;
    line-height: 1.6;
}

.main-container {
    flex: 1;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.main-container h2 {
    font-family: var(--FtextoEncabezado);
    color: var(--CtextoPrincipal);
    text-shadow: 0 0 4px var(--Cacento2);
    margin-bottom: 15px;
}

.main-container p {
    color: var(--CtextoSecundario);
    margin-bottom: 25px;
}


/* NAVBAR */
.navbar {
    background-color: #000 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;;
}

.nav-link {
    color: var(--CtextoPrincipal) !important;
    font-weight: bold !important;
    display: flex;
    list-style: none !important;
    transition: color 0.3s, text-shadow 0.3s !important;
}

.nav-links {
    display: flex;
    list-style: none !important;
}

.nav-link:hover, .nav-link:focus {
    color: var(--Cacento2) !important;
    text-shadow: 0 0 2px var(--Cacento2);
}

.navbar-brand img {  /*CAMBIAR FOTO*/
    filter: drop-shadow(0 0 5px var(--Cacento1));
}




/* CATALOGO */
#resultado{
    display: none;
    font-size: 19px;
    color: var(--Cacento2);
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
}

.catalogo{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.catalogo h1{
    font-family: var(--FtextoEncabezado);
    text-shadow: 0 0 4px var(--Cacento2);
    margin-bottom: 20px;
    text-align: center;
}

.catalogo-busacador{
    position: relative;
    max-width: 600px; 
    width: 100%;     
    margin: 20px auto; 
}

.catalogo-busacador input, #buscador{
    width: 100%;
    padding: 12px 40px;
    font-size: 16px;
    border-radius: 25px;
    border: 2px solid var(--CtextoPrincipal);
    background: #111;
    color: var(--CtextoPrincipal);
    outline: none;
    transition: all 0.3s;
}

.catalogo-busacador input:focus{
    border-color: var(--Cacento2);
    box-shadow: 0 0 6px var(--Cacento2);
}

.catalogo-busacador .icono-buscar{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--CtextoSecundario);
    font-size: 19px;
    pointer-events: none;
}

.lista-categoria .categorias{
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    border: 2px solid var(--CtextoPrincipal);
    border-radius: 20px;  
    color: var(--CtextoPrincipal);
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}

.lista-categoria .categorias:hover .lista-categoria
.ct_item-active{
    border-color: var(--Cacento2);
    text-shadow: 0 0 3px var(--Cacento2);
}

.productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.producto-item{
    background: linear-gradient(145deg, #111, #1a1a1a);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    transition: transform 0.3s;
}

.producto-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 8px var(--Cacento2);
    background: linear-gradient(145deg, #1a1a1a, #222);
}

.producto-item .producto-img img{
    width: 100%;
    border-radius: 12px;
    transition: transform 0.3s;
}

.producto-item .producto-img img:hover{
    transform: scale(1.05);
    filter: drop-shadow(0 0 3px var(--Cacento2));
}

.producto-item .nombre{
    font-family: var(--FtextoEncabezado);
    color: var(--CtextoPrincipal);
    display: block;
    margin: 10px 0;
    text-decoration: none;
    transition: color 0.3s;
}

.producto-item .nombre:hover{
    text-shadow: 0 0 3px var(--Cacento2);
}

.producto-item h4{
    font-family: var(--FtextoPrincipal);
    color: var(--CtextoSecundario);
    margin-bottom: 12px;
}

.producto-item button{
    padding: 10px 15px;
    background-color: var(--Cacento1);
    color: #ffffff;
    font:bold var(--FtextoPrincipal) ,sans-serif;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s;
}

.producto-item button:hover{
    transform: scale(1);
}


/* FORMULARIO */
form {
    max-width: 100%;
    width: 400px;
    margin: 60px auto;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(145deg, #111 0%, #1a1a1a 100%);
    box-shadow: -2px -5px 40px #2a2a2a;
    position: relative;
    overflow: hidden;
}

form label {
    font-family: var(--FtextoEncabezado) ,sans-serif;
    color: var(--CtextoPrincipal);
    text-shadow: var(--Cacento2) 0px 0px 1px;
    margin-bottom: 8px;
    display: block;
}

form input {
    font-style: var(--FtextoPrincipal) ,sans-serif;
    width: 100%;
    padding: 12px;
    margin-bottom: 25px;
    border: 2px solid #222 !important;
    border-radius: 12px;
    background-color: #efefef !important; /**REVISAR*/
    box-shadow: inset 0 0 3px #000;
    transition: all 0.3s;
}

form input:focus {
    border-color: var(--Cacento1) !important;
    box-shadow: 0 0 10px var(--Cacento1) !important;
    outline: none !important;
}

form button { /*** revisar**/
    width: 100%;
    padding: 15px;
    font-family: var(--FtextoEncabezado) ,sans-serif;
    font-weight: bold;
    background-color: var(--Cacento2);
    border: none;
    border-radius: 15px;
    color: var(--CtextoPrincipal);
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    box-shadow: 0 0 5px var(--Cacento1); /*******/
    transform: scale(1.0005);
}   

/* LINKS ABAJO DEL FORMULARIO */  

form ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

form a {
    color: var(--CtextoPrincipal);
    text-decoration: none;
    transition: color 0.3s;
}

form a:hover {
    color: var(--CtextoSecundario);
    text-decoration: underline; /**** probar ::before*/
    text-shadow: 0 0 3px var(--Cacento1);
}

/* NOSOTROS */
#nosotros{
    background: rgba(13,13,13,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin: auto;
    max-width: 1200px;
}

.logo-container{
    text-align: center;
    margin-bottom: 40px;
}

.logo-container img{
    max-width: 60%;
    margin: 0 auto;
    display: block;
    height: auto;
    transition: filter 0.3s ease-in-out, transform 0.3s;
}

.logo-container img:hover{
    filter: drop-shadow(0 0 10px var(--Cacento1));
    transform: scale(1.05);
}

.contenido-nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
}

.contenido p{
    font-style: var(--FtextoPrincipal) ,sans-serif;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    font-size: calc(14px + 0.5vw);
}

.contenido a{
    color: var(--CtextoPrincipal);
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
}

.contenido a:hover{
    color: var(--CtextoSecundario);
    text-shadow: 0 0 3px var(--Cacento2);
}






/* FOOTER */
footer {
    background-color: #111;
    padding: 40px 20px;
    border-top: 2px solid var(--Cacento2);
    width: 100%;
}

.footer-col {
    flex: 1 1 250px;
}

footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    gap: 30px;
}

.footer-title {
    font-family: var(--FtextoEncabezado) ,sans-serif;
    color: var(--CtextoPrincipal);
    margin-bottom: 15px;
    text-shadow: 0 0 3px var(--Cacento2);
}

footer ul{
    list-style: none !important;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

.footer-link {
    color: var(--CtextoSecundario);
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
}

.footer-link:hover {
    color: var(--CtextoSecundario);
    text-shadow: 0 0 3px var(--Cacento2);
}

.footer-creditos {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 0.95rem;
    color: var(--CtextoSecundario);
}


/* MEDIA QUERIES */

@media only screen 
    and (device-width: 344px) 
    and (device-height: 882px) 
    and (-webkit-device-pixel-ratio: 3) {

    footer {
        padding-left: 0;
        padding-right: 0;
    }

    footer .footer-container {
        max-width: 100%; 
        gap: 10px;      
    }

    .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar .container-fluid {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 400px) {
    .contenido-nosotros{
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 10px;           
    }

    .contenido p {
        font-size: 14px;    
        line-height: 20px;  
        max-width: 350px;
    }
}